//- meta tags
meta(charset='utf-8')
title Centrallo
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='Description')
meta(name='keywords', content='Keywords')

//- favicon
link(rel='icon', href='img/favicon/favicon.ico', type='image/x-icon')

//- fonts

//- links
link(rel='stylesheet', href='css/base.css')