.cnt-download.visible-sm.visible-xs
    .container
        .cnt-download__inside.clearfix
            +icons-other('close_2x')
            .cnt-download__product.float-left
                .cnt-download__product_img
                    img(src='img/other/icon@2x.png', alt='Centrallo')
                .cnt-download__product_cnt
                    span Centrallo
                    span.el-small.hidden-xs Download it for free on the App Store
                    span.el-small.visible-xs Free on the Google Play
            .cnt-download__btn.float-right
                a.btn(class='btn-type-2 btn-size-2', href='#', role='button') Download