header.cnt-header
    .container
        // brand
        .cnt-header__brand.link-block.float-left
            a(href='#')
                img(src='img/logo@2x.png', alt='Centrallo brand')
        // log in
        .cnt-header__log-in.header-padding-top.float-right
            ul.list-unstyled
                li.visible-xs
                    a(href='#') SIGN UP
                li
                    a(href='#') LOG IN
        // sign up
        .cnt-header__sign-up.header-padding-top.text-center.hidden-xs <a href="#">SIGN UP FOR FREE</a> — START PUBLISHING IN MINUTES