footer.cnt-footer
    .container
        // copyright
        .cnt-footer__copyright.float-left.hidden-xs © CENTRALLO 2016
        // social
        .cnt-footer__social.cnt-social.float-right
            ul.list-unstyled.clearfix.display-inline-block-top
                li
                    a(href='#')
                        +icons-other('twi-foot_2x')
                li
                    a(href='#')
                        +icons-other('fb-foot_2x')
        // nav
        .cnt-footer__nav
            ul.list-unstyled.clearfix.display-inline-block-top
                li
                    a(href='#') PRIVACY
                li
                    a(href='#') TERMS
                li
                    a(href='#') CONTACT