//- include bootstrap components
include ../blocks/plugins/bootstrap/bootstrap
//- include mixins
include ../helpers/mixins

doctype html
html(lang='ru')
    head
        //- include head tags
        include ../partials/head

    body

        #cnt-main

            // download
            include ../blocks/header/download

            // header
            include ../blocks/header/header


            // content
            .cnt-content
                .container
                    // posts
                    include ../blocks/content/pages/index/posts


            // footer
            include ../blocks/footer/footer

        // modal shares
        #modalShares.cnt-modal-shares.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalSharesLabel')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span Share
                    .modal-body
                        //- mark
                        .cnt-modal__mark
                            mark http://cll.io/a6lnu
                        //- social
                        .cnt-modal__social
                            .cnt-social.__type-2.text-center
                                ul.list-unstyled.clearfix.display-inline-block-top
                                    li.fb
                                        a(href='#')
                                            +icons-other('soc-fb_2x')
                                    li.tw
                                        a(href='#')
                                            +icons-other('soc-tw_2x')
                                    li.vk
                                        a(href='#')
                                            +icons-other('soc-vk_2x')
                                    li.in
                                        a(href='#')
                                            +icons-other('soc-in_2x')


        //- include scripts tags
        include ../partials/scripts
