//- icons
mixin icons-other(name)
    span.icons.icons-other(class=["icon-#{name}"], aria-hidden="true")
        block

mixin icons-docs(name)
    span.icons.icons-docs(class=["icon-#{name}"], aria-hidden="true")
        block


//- font awesome icon
mixin fa-icon(name)
    span.fa(class="fa-#{name}", aria-hidden="true")