// base styles

// import stylus

@import "elements/core/variables"
@import "elements/core/mixins"
@import "elements/core/normalize"
@import "elements/elements/elements"



//
// Header
// --------------------------------------------------

.cnt-header
    margin 0
    padding-top 9px
    padding-bottom 15px
    position relative
    z-index 100
    width 100%
    background-color #3c434a
    color #fff
    font-size 13px
    //line-height 30px
    text-transform uppercase
    @media (max-width $screen-sm-max)
        padding-top 9px
        padding-bottom 12px

.header-padding-top
    padding-top 11px
    @media (max-width $screen-sm-max)
        padding-top 7px


//
// cnt-download
// --------------------------------------------------

.cnt-download
    padding-top 9px
    padding-bottom 8px
    background-color #37b7ec
    color #fff

.cnt-download__inside
    padding-right 42px
    position relative
    @media (max-width $screen-xs-max)
        padding-right 28px

    .icon-close_2x
        margin-top -6px
        position absolute
        right 0
        top 50%
        cursor pointer


// cnt-download__product

.cnt-download__product
    padding-left 41px
    position relative
    min-height 33px


.cnt-download__product_img
    position absolute
    left 0
    top 0
    width 34px
    height 33px
    overflow hidden
    @media (max-width $screen-xs-max)
        border-radius 50%

    img
        max-width 100%


.cnt-download__product_cnt
    line-height 1.2

    span
        margin-bottom 3px
        display block
        &:first-child
            font-size 14px
            font-weight $font-weight-500
        &.el-small
            margin-bottom 0
            font-size 12px
            @media (max-width $screen-xs-max)
                font-size 11px


// cnt-download__btn

.cnt-download__btn
    padding-top 2px
    @media (max-width $screen-xs-max)
        .btn
            padding-left 15px
            padding-right 15px
            font-size 12px


//
// cnt-header__brand
// --------------------------------------------------

.cnt-header__brand
    @media (min-width $screen-sm-min) and (max-width $screen-sm-max)
        width 116px
    @media (max-width $screen-xs-max)
        width 108px

    img
        max-width 100%


//
// cnt-header__sign-up
// --------------------------------------------------

.cnt-header__sign-up
    margin-left 20%
    margin-right 20%
    color #879197
    font-weight 500
    letter-spacing 0.3px


//
// cnt-header__log-in
// --------------------------------------------------

.cnt-header__log-in
    ul
        > li
            margin-right 24px
            float left
            &:last-child
                margin-right 0

            > a
                color #fff
                text-decoration none
                &:hover,
                &:focus
                    color #fff
                    text-decoration underline

            @media (max-width $screen-xs-max)
                &:first-child
                    > a
                        color #37b7ec



//
// Content
// --------------------------------------------------

.cnt-content
    margin 0
    padding-top 30px
    padding-bottom 90px
    position relative
    z-index 50
    width 100%
    @media (max-width $screen-sm-max)
        padding-bottom 55px
    @media (max-width $screen-xs-max)
        padding-top 20px


//
// cnt-social
// --------------------------------------------------

.cnt-social
    ul
        line-height 1

        > li
            margin-left 14px
            position relative
            float none
            display inline-block
            vertical-align bottom
            &:first-child
                margin-left 0 !important

            > a
                display block
                position relative
                font-size 0
                line-height 1
                text-decoration none
                &:hover,
                &:focus
                    text-decoration none

            [class^="icon"]
                vertical-align top
                cursor pointer

    &.__type-2
        ul
            > li
                > a
                    width 36px
                    height 36px
                    text-align center
                    line-height 36px
                    border-radius 50%

                [class^="icon"]
                    vertical-align middle

                &.fb
                    > a
                        background-color #3a589c
                &.tw
                    > a
                        background-color #29a9e1
                &.vk
                    > a
                        background-color #5a7ba0
                &.in
                    > a
                        background-color #007bb8
                        [class^="icon"]
                            top -2px


//
// cnt-posts
// --------------------------------------------------

// cnt-posts__person

.cnt-posts__person
    margin-bottom 21px


// cnt-posts__person_data

.cnt-posts__person_data
    padding-left 62px
    position relative
    min-height 48px
    @media (max-width $screen-xs-max)
        padding-left 51px
        min-height 38px


.cnt-posts__person_data_cnt
    font-size 18px
    line-height 48px
    @media (max-width $screen-xs-max)
        font-size 16px
        line-height 38px

.cnt-posts__person_data_img
    position absolute
    left 0
    top 0
    width 48px
    height 48px
    overflow hidden
    border-radius 50%
    @media (max-width $screen-xs-max)
        width 38px
        height 38px

    img
        max-width 100%


// cnt-posts__person_links

.cnt-posts__person_links
    padding-top 13px

    ul
        > li
            margin-left 13px
            padding-bottom 7px
            &:last-child
                margin-left 29px
                padding-bottom 0

            .form-control
                width 112px
                background-color #92b6c4


// cnt-posts__info

.cnt-posts__info
    margin-bottom 16px
    @media (max-width $screen-xs-max)
        margin-bottom 12px


// cnt-posts__info_btn

.cnt-posts__info_btn
    @media (max-width $screen-xs-max)
        margin-bottom 20px
        float none !important

        .btn
            padding-left 11px
            padding-right 11px
            width 49%
            &:first-child
                float left
            &:last-child
                float right


// cnt-posts__info_title

.cnt-posts__info_title
    padding-top 5px
    font-size 20px
    font-weight $font-weight-500
    @media (max-width $screen-xs-max)
        font-size 18px


// cnt-posts__list_i

.cnt-posts__list_i
    margin-bottom 12px
    padding 30px
    position relative
    background-color #fff
    border-radius 5px
    @media (max-width $screen-xs-max)
        padding 18px 18px 30px 18px

    &:last-child
        margin-bottom 0

    &.__type-star
        .el-posts__list_i_status
            &:before
                width 15px
                height 14px
                background-position -127px -26px
            &:after
                border-top-color #ef4b2b
    &.__type-protected
        .el-posts__list_i_status
            &:before
                width 12px
                height 15px
                background-position -105px -27px
            &:after
                border-top-color #3c434a
        .cnt-posts__list_i_info_date.__type-last
            color #009ce6
    &.__type-archived
        opacity 0.7

        .el-posts__list_i_status
            &:before
                width 16px
                height 14px
                background-position -5px -5px
            &:after
                border-top-color #979da3
        .cnt-posts__list_i_info_date.__type-last
            color #858585


.el-posts__list_i_status
    position absolute
    right 0
    top 0
    width 48px
    height 48px
    overflow hidden
    border-top-right-radius 5px
    @media (max-width $screen-xs-max)
        width 40px
        height 40px

    &:before
        content ""
        position absolute
        right 7px
        top 7px
        z-index 51
        background-image url("../img/icons/sprite-other.png")
        background-repeat no-repeat
        @media (max-width $screen-xs-max)
            right 4px
            top 4px
    &:after
        content ""
        position absolute
        left 0
        top 0
        width 0
        height 0
        border-top 48px solid transparent
        border-left 48px solid transparent
        @media (max-width $screen-xs-max)
            border-top-width 40px
            border-left-width 40px


// cnt-posts__list_i_info_date

.cnt-posts__list_i_info_date
    color #aeb4ba


// cnt-posts__list_i_info_links

.cnt-posts__list_i_info_links
    padding-top 1px

    ul
        > li
            margin-left 27px
            vertical-align middle


// cnt-posts__list_i_cnt

.cnt-posts__list_i_cnt
    margin-bottom 24px
    clearfix()

    /*.table > tbody > tr > td
        padding 13px 8px 16px 8px
        border-top-color #DEDEDE
        vertical-align middle
        color #858585

        [class^="icon"]
            top 1px

    .table > tbody > tr > td:nth-child(1)
        width 16px
    .table > tbody > tr > td:nth-child(2)
        width 689px
        @media (max-width $screen-sm-max)
            width 449px
    .table > tbody > tr > td:nth-child(3)
        width 96px

    .table > tbody > tr > td:nth-child(2)
        color #333333
        font-weight $font-weight-500

    .table > tbody > tr > td:first-child
        padding-left 0
    .table > tbody > tr > td:last-child
        padding-right 0

    .table > tbody > tr:first-child > td
        border-top 0
    .table > tbody > tr.__type-xs > td
        @media (max-width $screen-xs-max)
            border-top 0*/


    p
        color #494949


// cnt-posts__list_i_table

.cnt-posts__list_i_table
    ul
        > li
            display table
            width 100%
            @media (max-width $screen-xs-max)
                display block

            .el-td
                padding 13px 8px 16px 8px
                display table-cell
                vertical-align middle
                border-top 1px solid #DEDEDE
                color #858585

                [class^="icon"]
                    top 1px

                &:nth-child(1)
                    width 24px
                &:nth-child(2)
                    width 689px
                    color #333333
                    font-weight $font-weight-500
                    @media (max-width $screen-sm-max)
                        width 449px
                &:nth-child(3)
                    width 96px

                &:first-child
                    padding-left 0
                &:last-child
                    padding-right 0

                &:nth-last-child(1),
                &:nth-last-child(2)
                    text-align right
                    @media (max-width $screen-xs-max)
                        padding-top 0
                        display block
                        float left
                        width 50%
                        border-top 0
                &:nth-last-child(2)
                    @media (max-width $screen-xs-max)
                        padding-left 32px
                        text-align left

            &:first-child
                .el-td
                    border-top 0


// cnt-posts__list_i_imgs

.cnt-posts__list_i_imgs
    ul
        > li
            margin-right 12px
            float left
            max-height 140px
            overflow hidden
            cursor pointer
            @media (max-width $screen-sm-max)
                margin-bottom 12px
                max-height 120px
            @media (max-width $screen-xs-max)
                margin-right 0
                float none
                max-height none

            &:last-child
                margin-right 0

            &.__type-video
                position relative
                &:before
                    content ""
                    margin-top -29.5px
                    margin-left -29.5px
                    position absolute
                    left 50%
                    top 50%
                    width 59px
                    height 59px
                    background url("../img/icons/sprite-other.png") -31px -57px no-repeat

            img
                max-width 100%
                @media (max-width $screen-xs-max)
                    width 100%


// cnt-posts__list_i_border

.cnt-posts__list_i_border
    margin-top 30px
    padding-top 25px
    border-top 1px solid #DEDEDE


// cnt-posts__list_i_date

.cnt-posts__list_i_date
    padding-left 32px
    position relative
    color #858585
    &:before
        content ""
        position absolute
        left 0
        top 0
        width 18px
        height 20px
        background url("../img/icons/sprite-other.png") -31px -5px no-repeat


// cnt-posts__list_i_map

.cnt-posts__list_i_map_img
    width 300px
    height 200px
    overflow hidden
    @media (max-width $screen-xs-max)
        float none !important
        width 100%
        height 176px

    img
        max-width 100%
        @media (max-width $screen-xs-max)
            width 100%


.cnt-posts__list_i_map_cnt
    margin-left 316px
    @media (max-width $screen-xs-max)
        margin-left 0
        margin-top 12px

    ul
        > li
            margin-top 8px
            color #858585
            &:first-child
                margin-top 0
                color #383838
                font-weight $font-weight-500
            &:last-child
                margin-top 16px

            > a
                color #00adff
                text-decoration none


// cnt-posts__list_i_docs

.cnt-posts__list_i_docs
    padding-left 26px
    @media (max-width $screen-xs-max)
        padding-left 0

    ul
        > li
            margin-right 37px
            float left
            text-align center
            cursor pointer
            @media (max-width $screen-xs-max)
                margin-right 0
                margin-bottom 29px
                width 50%

            &:last-child
                margin-right 0

            [class^="icon"]
                vertical-align top
                cursor pointer


.cnt-posts__list_i_docs_cnt
    margin-top 11px
    font-size 14px
    color #333333


//
// modal
// --------------------------------------------------

#modalShares
    .modal-dialog
        width 280px


button.close
    position absolute
    right 14px
    top 14px
    z-index ($zindex-modal + 1)
    &:hover,
    &:focus
        outline none

button.close
    width 13px
    height 12px
    background url("../img/icons/sprite-other.png") -79px -5px no-repeat
    text-shadow none
    opacity 1
    cursor pointer
    &:hover,
    &:focus
        opacity 1


.modal-backdrop
    background-color #000

.modal-backdrop.in
    opacity 0.5


.modal
    padding 0 !important
    text-align center
    &:before
        margin-right -4px
        display inline-block
        vertical-align middle
        content ""
        height 100%

.modal-dialog
    margin 0
    display inline-block
    text-align left
    vertical-align middle

.modal-content
    position relative
    border 0
    border-radius 3px
    box-shadow none

.modal-header
    padding 18px 38px 0 38px
    border 0
    font-size 22px
    color #404143
    text-align center

.modal-body
    padding 37px 38px 30px 38px
    position relative


// cnt-modal__social

.cnt-modal__social
    margin-top 40px


// cnt-modal__mark

.cnt-modal__mark
    margin-left 25px
    margin-right 25px
    font-size 20px
    text-align center

    mark
        padding 0
        display inline-block
        background-color #37b7ec
        color #fff



//
// Footer
// --------------------------------------------------

.cnt-footer
    margin 0
    //margin-top - $footer-clear-height - fixed height
    padding-top 32px
    padding-bottom 33px
    position relative
    z-index 25
    //height $footer-clear-height - fixed height
    width 100%
    background-color #3c434a
    font-size 12px
    font-weight $font-weight-500
    color #979ea4
    line-height 20px
    letter-spacing 0.4px
    text-transform uppercase
    @media (min-width $screen-sm-min) and (max-width $screen-sm-max)
        padding-top 26px
        padding-bottom 26px
    @media (max-width $screen-xs-max)
        padding-top 17px
        padding-bottom 17px
        font-size 11px


//
// cnt-footer__nav
// --------------------------------------------------

.cnt-footer__nav
    margin-left 20%
    margin-right 20%
    text-align center
    @media (max-width $screen-xs-max)
        margin-left 0
        text-align left

    ul
        > li
            margin-right 20px
            float left
            &:last-child
                margin-right 0

            > a
                color #979ea4
                text-decoration none
                &:hover,
                &:focus
                    color #979ea4
                    text-decoration underline


//
// cnt-footer__social
// --------------------------------------------------

.cnt-footer__social
    ul
        > li
            float none
            display inline-block
            vertical-align bottom



// import stylus

// @import "elements/core/media"
@import "plugins/plugins"
@import "elements/core/cosmetic"


