.cnt-posts

    // person info
    .cnt-posts__person.clearfix
        //- data
        .cnt-posts__person_data.float-left
            .cnt-posts__person_data_img
                img(src='img/other/ava@2x.png', alt='Konstantin Vladimirskiy')
            .cnt-posts__person_data_cnt Konstantin Vladimirskiy
        //- links
        .cnt-posts__person_links.float-right.hidden-xs
            .cnt-social
                ul.list-unstyled.clearfix
                    li
                        a(href='#')
                            +icons-other('soc-fb_2x')
                    li
                        a(href='#')
                            +icons-other('soc-tw_2x')
                    li
                        a(href='#')
                            +icons-other('soc-vk_2x')
                    li
                        a(href='#')
                            +icons-other('soc-in_2x')
                    li
                        input.form-control(type='text', value='http://cll.io/a6lnu', readonly='readonly')

    // post info
    .cnt-posts__info.clearfix
        //- btn
        .cnt-posts__info_btn.float-right.clearfix
            button.btn(class='btn-type-1 btn-size-1', type='button') Add to my Centrallo
            button.btn.visible-xs-inline-block(class='btn-type-3 btn-size-1', type='button', data-toggle='modal', data-target='#modalShares') <span class="icons icons-other icon-share_2x" aria-hidden="true"></span> Share
        //- title
        .cnt-posts__info_title.float-left Post-release checklist 2015.02.26

    // post list
    .cnt-posts__list
        //- item
        .cnt-posts__list_i.__type-star
            .el-posts__list_i_status
            //- cnt
            .cnt-posts__list_i_cnt
                .checkbox
                    input(type='checkbox', id='check1')
                    label(for='check1') <div class="icheckbox_square"></div> Referral Accepted and Invited invitations not sorted by A-Z
                .checkbox
                    input(type='checkbox', id='check2', checked='checked')
                    label(for='check2') <div class="icheckbox_square"></div> Inbox shows me 242 items - that includes Done items; Only show me active
                .checkbox
                    input(type='checkbox', id='check3', checked='checked')
                    label(for='check3') <div class="icheckbox_square"></div> Inbox defaults to show done items - it should not
                .checkbox
                    input(type='checkbox', id='check4')
                    label(for='check4') <div class="icheckbox_square"></div> Lists default to Show Done - they should not
                .checkbox
                    input(type='checkbox', id='check5')
                    label(for='check5') <div class="icheckbox_square"></div> Recent view should sort by Created and show no Done items
            //- info
            .cnt-posts__list_i_info.clearfix
                .cnt-posts__list_i_info_date.float-left 2h ago
                .cnt-posts__list_i_info_links.float-right
                    .cnt-social
                        ul.list-unstyled.clearfix
                            li
                                a(href='#')
                                    +icons-other('share_2x')
                            li
                                a(href='#', data-toggle='tooltip', data-placement='top', title='http://cll.io/a6lnu')
                                    +icons-other('url_2x')
        //- item
        .cnt-posts__list_i
            //- cnt
            .cnt-posts__list_i_cnt
                .cnt-posts__list_i_table
                    ul.list-unstyled
                        li
                            .el-td
                                +icons-other('list2_2x')
                            .el-td Children
                            .el-td 12 items
                            .el-td 7h ago
                        li
                            .el-td
                                +icons-other('list_2x')
                            .el-td The longest title in the world
                            .el-td 3 items
                            .el-td Mar 13
                //-
                    table.table
                        tbody
                            tr
                                td
                                    +icons-other('list2_2x')
                                td Children
                                td.text-right.hidden-xs 12 items
                                td.text-right.hidden-xs 7h ago
                            tr
                                td
                                    +icons-other('list_2x')
                                td The longest title in the world
                                td.text-right.hidden-xs 3 items
                                td.text-right.hidden-xs Mar 13
            //- info
            .cnt-posts__list_i_info.clearfix
                .cnt-posts__list_i_info_date.float-left 2h ago
                .cnt-posts__list_i_info_links.float-right
                    .cnt-social
                        ul.list-unstyled.clearfix
                            li
                                a(href='#')
                                    +icons-other('share_2x')
                            li
                                a(href='#', data-toggle='tooltip', data-placement='top', title='http://cll.io/a6lnu')
                                    +icons-other('url_2x')
        //- item
        .cnt-posts__list_i
            //- cnt
            .cnt-posts__list_i_cnt
                .cnt-posts__list_i_imgs
                    ul.list-unstyled.clearfix
                        li.__type-video
                            img(src='img/other/article/video/video@2x.png', alt='img post')
                        li
                            img(src='img/other/article/photo-1@2x.png', alt='img post')
                        li
                            img(src='img/other/article/photo-2@2x.png', alt='img post')
                .cnt-posts__list_i_border
                    .cnt-posts__list_i_date Due on Feb 13, 12:42 PM
            //- info
            .cnt-posts__list_i_info.clearfix
                .cnt-posts__list_i_info_date.float-left Feb 14
                .cnt-posts__list_i_info_links.float-right
                    .cnt-social
                        ul.list-unstyled.clearfix
                            li
                                a(href='#')
                                    +icons-other('share_2x')
                            li
                                a(href='#', data-toggle='tooltip', data-placement='top', title='http://cll.io/a6lnu')
                                    +icons-other('url_2x')
        //- item
        .cnt-posts__list_i
            //- cnt
            .cnt-posts__list_i_cnt
                p The Dark Knight Rises is a 2012 British-American superhero film directed by Christopher Nolan, who co-wrote the screenplay with his brother Jonathan Nolan, and the story with David S. Goyer. Featuring the DC Comics character Batman, the film is the final installment in Nolan's Batman film trilogy, and the sequel to Batman Begins (2005) and The Dark Knight (2008). Christian Bale reprises the lead role of Bruce Wayne/Batman, with a returning cast of allies: Michael Caine as Alfred Pennyworth, Gary Oldman as James Gordon, and Morgan Freeman as Lucius Fox. The film introduces Selina Kyle (Anne Hathaway), a sly, morally ambiguous cat burglar, and Bane (Tom Hardy), a revolutionary bent on destroying Gotham City who forces an older Bruce Wayne to come out of retirement and become Batman again.
                .cnt-posts__list_i_imgs
                    ul.list-unstyled.clearfix
                        li
                            img(src='img/other/article/photo-3@2x.png', alt='img post')
                        li
                            img(src='img/other/article/photo-4@2x.png', alt='img post')
                        li
                            img(src='img/other/article/photo-5@2x.png', alt='img post')
                        li
                            img(src='img/other/article/photo-6@2x.png', alt='img post')
                .cnt-posts__list_i_border
                    .cnt-posts__list_i_map.clearfix
                        .cnt-posts__list_i_map_img.float-left
                            img(src='img/other/map@2x.png', alt='img post')
                        .cnt-posts__list_i_map_cnt
                            ul.list-unstyled
                                li Merry Bergtraum High School for Business Cariers
                                li 411 Pearl St, NY 10038
                                li United States of America
                                li
                                    a(href='#') Watch location on Google Maps
                .cnt-posts__list_i_border
                    .cnt-posts__list_i_docs
                        ul.list-unstyled.clearfix
                            li
                                .cnt-posts__list_i_docs_img
                                    +icons-docs('attach-doc_2x')
                                .cnt-posts__list_i_docs_cnt logo_final.eps
                            li
                                .cnt-posts__list_i_docs_img
                                    +icons-docs('db_2x')
                                .cnt-posts__list_i_docs_cnt photos_summer.zip
                            li
                                .cnt-posts__list_i_docs_img
                                    +icons-docs('skydrive_2x')
                                .cnt-posts__list_i_docs_cnt work_…hard.doc
            //- info
            .cnt-posts__list_i_info.clearfix
                .cnt-posts__list_i_info_date.float-left Jan 12
                .cnt-posts__list_i_info_links.float-right
                    .cnt-social
                        ul.list-unstyled.clearfix
                            li
                                a(href='#')
                                    +icons-other('share_2x')
                            li
                                a(href='#', data-toggle='tooltip', data-placement='top', title='http://cll.io/a6lnu')
                                    +icons-other('url_2x')
        //- item
        .cnt-posts__list_i.__type-protected.hidden-sm.hidden-xs
            .el-posts__list_i_status
            //- info
            .cnt-posts__list_i_info.clearfix
                .cnt-posts__list_i_info_date.float-left Nov 22
                .cnt-posts__list_i_info_date.__type-last.float-right Protected
        //- item
        .cnt-posts__list_i.__type-archived.hidden-sm.hidden-xs
            .el-posts__list_i_status
            //- info
            .cnt-posts__list_i_info.clearfix
                .cnt-posts__list_i_info_date.float-left Nov 21
                .cnt-posts__list_i_info_date.__type-last.float-right Archived