// cosmetic styles

.float-left
  float left

.float-right
  float right

.float-none
  float none


.display-block
  display block

.display-table
  display table
  width 100%
  height 100%

.display-table-cell
  display table-cell
  float none
  vertical-align middle

.display-inline-block-top
  display inline-block
  vertical-align top

.display-inline-block-middle
  display inline-block
  vertical-align middle

.display-none
  display none


.overflow-hidden
  overflow hidden


.text-center
  text-align center !important

.text-just
  text-align justify

.text-right
  text-align right !important

.text-left
  text-align left !important


.vertical-top
  vertical-align top

.vertical-middle
  vertical-align middle


.margin-right-none
  margin-right 0 !important

.margin-padding-right-none
  padding-right 0 !important
  margin-right 0 !important
  border-right 0 none !important

.margin-top-none
  margin-top 0 !important

.margin-bottom-none
  margin-bottom 0 !important


.bg-none
  background none !important


.img-responsive
  margin 0 auto


.visible-none
  visibility hidden


.pos-relative
  position relative


.line-height-base
  line-height $line-height-base


.link-display-block
  link-display-block()


// width

[class*="width-"]
  margin-left auto
  margin-right auto


.overflow-hidden
  overflow hidden

.text-transfrom-uppercase
  text-transform uppercase


// font-style

.font-style-italic
  font-style italic

.font-style-normal
  font-style normal


// row

.row-padding-0
  margin-left 0
  margin-right 0

  > div,
  > li
    padding-left 0
    padding-right 0


// link display block

.link-block
  a
    link-display-block()


// media

/*+media-query(only screen, max-width $screen-sm-max)

+media-query(only screen, max-width $screen-xs-max)*/