// general styles

// global settings

html, body
  margin 0
  padding 0
  width 100%
  height 100%
  @media (max-width $screen-xs-max)
    -webkit-overflow-scrolling touch

body
  //min-width $container-width + $grid-gutter-width
  position relative
  background-color #AECAD5
  border 0
  font-weight $font-weight-400


#cnt-main
  height auto
  min-height 100%
  width 100%
  position relative


// footer height clear

.cnt-clear-footer
  height auto
  min-height 100%
  width 100%
  position relative

.cnt-clear-footer_line
  clear both
  height $footer-clear-height


// container

.container
  width 100%
  max-width $container-width + $grid-gutter-width
  @media (min-width $screen-sm-min) and (max-width $screen-sm-max)
    padding-left 24px
    padding-right 24px
  @media (max-width $screen-xs-max)
    padding-left 12px
    padding-right 12px

  &.__padding-0
    padding-left 0
    padding-right 0


// a

a
  color #37b7ec
  text-decoration underline

  &:hover,
  &:focus
    color #37b7ec
    text-decoration none

  &,
  &:hover,
  &:focus
    outline none


// h1-h6

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
  margin-top 0
  margin-bottom ($line-height-computed / 2)
  font-weight $font-weight-500
  line-height 1.2
  &:last-child
    margin-bottom 0

  a
    color $text-color
    text-decoration none
    line-height inherit
    &:hover,
    &:focus,
    &:active
      color $text-color
      text-decoration underline

.h-uppercase
  text-transform uppercase


// p

p, .p
  margin-bottom 20px
  color #494949
  line-height 1.63

  &:last-child
    margin-bottom 0


// ul

ul, .ul
  margin-bottom 0