// @media styles

// Large Devices, Wide Screens - @media only screen and (max-width 1200px)

@media only screen and (max-width 1200px) {}


// Medium Devices, Desktops - @media only screen and (max-width 992px)

@media only screen and (max-width 992px) {}


// Small Devices, Tablets - @media only screen and (max-width 768px)

@media only screen and (max-width 768px)
  // Disable Animation on Mobile Devices
  .animated
    -o-transition-property none !important
    -moz-transition-property none !important
    -ms-transition-property none !important
    -webkit-transition-property none !important
    transition-property none !important

    -o-transform none !important
    -moz-transform none !important
    -ms-transform none !important
    -webkit-transform none !important
    transform none !important

    -webkit-animation none !important
    -moz-animation none !important
    -o-animation none !important
    -ms-animation none !important
    animation none !important


// Extra Small Devices, Phones - @media only screen and (max-width 480px)

@media only screen and (max-width 480px) {}


// Custom, iPhone Retina - @media only screen and (max-width 320px)

@media only screen and (max-width 320px) {}


// Custom, iPhone Retina - @media only screen and (min-width 320px)

@media only screen and (min-width 320px) {}


// Extra Small Devices, Phones - @media only screen and (min-width 480px)

@media only screen and (min-width 480px) {}


// Small Devices, Tablets - @media only screen and (min-width 768px)

@media only screen and (min-width 768px) {}


// Medium Devices, Desktops - @media only screen and (min-width 992px)

@media only screen and (min-width 992px) {}


// Large Devices, Wide Screens - @media only screen and (min-width 1200px)

@media only screen and (min-width 1200px) {}