// mixins

background-img-cover($background-position)
  background-color #ffffff
  background-position $background-position
  background-repeat no-repeat
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover

border-radius($radius)
  -webkit-border-radius $radius
  border-radius $radius

// icons

icons($width, $height, $background-position)
  width $width
  height $height
  background-position $background-position

// link

link-display-block()
  display block
  line-height 1
  text-decoration none
  border 0
  &:hover,
  &:focus,
  &:active
    text-decoration none

// transition

transitionAll()
  transition all ease-in-out .3s


// import

@import "../../plugins/bootstrap/mixins"