// form elements

// btn

.btn
  position relative
  border 0
  font-weight $font-weight-400
  text-decoration none
  transitionAll()
  border-radius 3px
  box-shadow none
  overflow visible

  &,
  &:active,
  &.active
    &:focus,
    &.focus
      outline none

  &:active,
  &.active
    box-shadow none

  [class^="fa"],
  [class^="icon"]
    margin-right 4px
    top 1px
    vertical-align top
    cursor pointer


.btn-type-1
  color #fff
  background-color #37b7ec

  &:focus,
  &.focus
    color #fff
    background-color darken(#37b7ec, 5)

  &:hover
    color #fff
    background-color darken(#37b7ec, 5)

  &:active,
  &.active
    color #fff
    background-color darken(#37b7ec, 5)

  &.disabled,
  &[disabled]
    &:hover,
    &:focus,
    &.focus
      background-color darken(#37b7ec, 5)

.btn-type-2
  color #00adff
  background-color #fff

  &:focus,
  &.focus
    color #00adff
    background-color darken(#fff, 5)

  &:hover
    color #00adff
    background-color darken(#fff, 5)

  &:active,
  &.active
    color #00adff
    background-color darken(#fff, 5)

  &.disabled,
  &[disabled]
    &:hover,
    &:focus,
    &.focus
      background-color darken(#fff, 5)

.btn-type-3
  color #3c434a
  background-color #fff

  &:focus,
  &.focus
    color #3c434a
    background-color darken(#fff, 5)

  &:hover
    color #3c434a
    background-color darken(#fff, 5)

  &:active,
  &.active
    color #3c434a
    background-color darken(#fff, 5)

  &.disabled,
  &[disabled]
    &:hover,
    &:focus,
    &.focus
      background-color darken(#fff, 5)


.btn-size-1
  button-size(7px 17px, 8px 17px, 13px, $line-height-base, 3px)
.btn-size-2
  button-size(5px 25px, 6px 25px, 13px, $line-height-base, 3px)


// form control

.form-control
  padding 4px 6px
  height 24px
  background-color #92b6c4
  border 0
  font-size 13px
  font-weight $font-weight-400
  color #fff
  border-radius 4px
  box-shadow none
  transitionAll()

  &::-moz-placeholder
    color #fff
    opacity 1
  &:-ms-input-placeholder
    color #fff !important
  &::-webkit-input-placeholder
    color #fff

  &:focus
    box-shadow none

  &.error
    border-color #E05100 !important

  &.success
    border-color #1DBB90


.form-group
  margin-bottom 15px


.form-label
  margin-bottom 7px
  display block
  font-size 12px
  font-weight $font-weight-500


textarea.form-control
  height 96px !important
  resize none


.radio, .checkbox
  margin-top 0
  margin-bottom 15px
  &:last-child
    margin-bottom 0

  input[type="checkbox"],
  input[type="radio"]
    display none

  input[type="checkbox"]:checked,
  input[type="radio"]:checked
    & + label
      .icheckbox_square, .iradio_square
        background-color #3b99fc
        border-color #3b99fc
        &:before
          content ""
          position absolute
          left 0
          top 0
          width 10px
          height 10px
          background url("../img/icons/sprite-other.png") -59px -5px no-repeat

  label
    padding-left 23px
    min-height 20px
    color #494949
    font-weight $font-weight-400
    line-height 20px

    .icheckbox_square, .iradio_square
      margin-right 0
      position absolute
      left 0
      top 3px
      width 14px
      height 14px
      z-index 51
      background-color transparent
      border 2px solid #b8b8b8
      border-radius 2px

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]
  margin-left -24px

input[type="radio"], input[type="checkbox"]
  margin 4px 0 0


.form-inline
  .form-group
    display inline-block
    margin-bottom 0
    vertical-align middle

  .form-control
    display inline-block
    width auto
    vertical-align middle