// icon elements

.icons
  position relative
  display inline-block
  line-height 1
  background-repeat no-repeat
  cursor default

.icon-left
  margin-right 7px

.icon-right
  margin-left 7px


.icons-other
  background-image url("../img/icons/sprite-other.png")

.icon-box_2x
  width 16px
  height 14px
  background-position -5px -5px

.icon-calendar_2x
  width 18px
  height 20px
  background-position -31px -5px

.icon-check_2x
  width 10px
  height 10px
  background-position -59px -5px

.icon-close2_2x
  width 13px
  height 12px
  background-position -79px -5px

.icon-close_2x
  width 13px
  height 12px
  background-position -102px -5px

.icon-fb-foot_2x
  width 10px
  height 20px
  background-position -59px -27px

.icon-list_2x
  width 16px
  height 14px
  background-position -79px -27px

.icon-list2_2x
  width 16px
  height 14px
  background-position -5px -51px

.icon-lock_2x
  width 12px
  height 15px
  background-position -105px -27px

.icon-play_2x
  width 59px
  height 59px
  background-position -31px -57px

.icon-share_2x
  width 16px
  height 16px
  background-position -100px -52px

.icon-soc-fb_2x
  width 8px
  height 16px
  background-position -5px -78px

.icon-soc-in_2x
  width 15px
  height 15px
  background-position -100px -78px

.icon-soc-tw_2x
  width 16px
  height 13px
  background-position -100px -103px

.icon-soc-vk_2x
  width 20px
  height 11px
  background-position -125px -5px

.icon-star_2x
  width 15px
  height 14px
  background-position -127px -26px

.icon-twi-foot_2x
  width 20px
  height 16px
  background-position -127px -50px

.icon-url_2x
  width 20px
  height 20px
  background-position -126px -76px


.icons-docs
  background-image url("../img/icons/sprite-docs.png")

.icon-attach-doc_2x
  width 46px
  height 58px
  background-position 0 0

.icon-db_2x
  width 46px
  height 58px
  background-position -46px 0

.icon-skydrive_2x
  width 46px
  height 58px
  background-position -92px 0



// font awesome

.fa
  position relative
  display inline-block
  font-family 'FontAwesome'
  font-style normal
  font-weight normal
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  transitionAll()